*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #170550;
    padding-left: 150px;
    padding-right: 150px;
}
.navbar-logo{
    width: 150px;
    height: 55px;
}
.manu{
    display: flex;
    list-style: none;
    gap: 30px;
}
.manu>li{
    cursor: pointer;
    color: white;
}
.btn{
    background-color: white;
    padding: 10px 42px;
    color: #170550;
    border: none;
    border-radius: 20px;
}

/* Bannar part */
/* Bannar part */
 
.bannar{
display: flex;
padding-left: 150px;
padding-right: 150px;
align-items: center;
background-color: #31065A;
}
.bannar-img{
    width: 577px;
    height: 683px;
}
.title{
    color: #F86F03;
    padding-bottom: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.developer-name{
    color: white;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.more-title{
    color: white;
    font-size: 17px;
    padding-bottom: 10px;
}
.description{
    color: white;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.social-media{
    margin-top: 36px;
    margin-bottom: 32px;
     
}
.social-media>img{
    margin-right: 24px;
    border: 1px solid white;
    padding: 5px;
    border-radius: 100%;
}
.btn-cv{
    background-color: #F86F03;
    padding: 10px 45px;
    border: none;
    border-radius: 20px;
    color: white;
}
/* webside main ::part */
.about-title{
    text-align: center;

}
#about-section{
background-color: #170550;
padding-top: 65px;
padding-bottom: 160px;
padding-left: 150px;
padding-right: 150px;
}
.information{
    display: flex;
    align-items: center;
    gap: 123px;
    margin-top: 105px;

}
.info-content{
    color: white;
}
.info-title{
     margin-bottom: 40px;
     font-family: Arial, Helvetica, sans-serif;
}
.para{
margin-bottom: 32px;
font-family: Arial, Helvetica, sans-serif;
}
.read-more{
    background-color: white;
    color: #170550;
    padding: 9px 37px;
    margin-top: 67px;
    border: none;
    border-radius: 20px;
}